@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("lib/fonts/opensans.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

tr.callStackRepeated {
  color: red;
}
body {
  margin: 0px;
}
.no-context-hidden {
  display: none !important;
}
#main {
  height: 100%;
}
.main-hidden {
  display: none !important;
}
.tabBar-element {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size : 12px;
}
.tab {
  display: none;
  visibility: hidden;
  padding-bottom: 24px;
}
.tab-enabled {
  display: block;
  visibility: visible;
}
#contextBarContainer {
  margin-bottom: 24px;
}
#contextBar {
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.context-element {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size : 12px;
  color: #484848;
}
.context-element-enabled {
  color: white !important;
  background-color: rgb(57, 118, 225) !important;
  color: #000000;
}
.context-element:hover {
  color: #222222;
  background-color: rgb(225, 225, 225);
}
#textureCanvas {
  background: url("../../static/checkerboard-512x512.png");
}
#texture-list tr.active td {
  background-color: rgb(57, 118, 225) !important;
  color: #FFF;
}
.tab-pane {
  margin-top: 24px;
}
/* Program usage */
#programUsageTableContainer {
  width: 50%;
}
#programUsageTableCollecting {
  display: none;
}
#programUsageTableCollected {
  display: none;
}
/* Program duplicate */
#programDuplicateTableContainer {
  width: 50%;
}
#programDuplicateTableCollecting {
  display: none;
}
#programDuplicateTableCollected {
  display: none;
}
/* Call Stack */
#mostRecentCallTable {
  width: 100%;
  max-width: 500px;
}
#lastDrawnCallTable {
  width: 100%;
  max-width: 500px;
}
#callStackCollecting {
  display: none;
}
#callStackCollected {
  display: none;
}

